BasedOnStyle: Google
IndentWidth: 2
UseTab: Never
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlignTrailingComments: true
BreakBeforeBraces: Attach
BraceWrapping:
  AfterFunction: false
  AfterControlStatement: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
  AfterClass: false
  AfterEnum: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
BinPackParameters: false
BinPackArguments: false
AlignAfterOpenBracket: BlockIndent
AllowShortFunctionsOnASingleLine: None
AlwaysBreakAfterDefinitionReturnType: None
ColumnLimit: 80
NamespaceIndentation: All
AccessModifierOffset: -1
SeparateDefinitionBlocks: Always
AllowAllArgumentsOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
ContinuationIndentWidth: 2
